  <div class="container">
    <h1>新規投稿</h1>
    <%= form_with model: Question.new do |f| %>
      <div class="form-group">
        <%= f.label :title ,"【質問】" ,class: "control-label" %>
        <%= f.text_area :title, rows: 3 ,class: "form-control initial-height" %>
      </div>
      <div class="form-group">
        <%= f.label :detail ,"【詳細】" ,class: "control-label" %>
        <%= f.text_area :detail, rows: 5, class: "form-control initial-height" %>
      </div>
      <div class="form-group">
        <%= f.submit "送信", class: "btn btn-primary btn-block btn-lg" , data: {confirm: "新規投稿しますか？"} %>
      </div>
    <% end %>
  </div>
  <section id="questions">
    <div class="container">
      <% @questions.each do |question| %>
        <div class="question-container">
          <a href="<%= "/questions/#{question.id}" %>">
            <div class="question">
              <div class="row">
                <div class="col-md-7">
                  <div class="title-container">
                    <p class="title">
                      <%= question.title %>
                    </p>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="info text-right">
                    <p>質問日</p>
                    <p>Views</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </section>
