<div class="text-center">
    <div class="col-xs-12">
      <div class="movie-title">
        <%= "Lv.1：" %>
        <%= @movies[0]["title"] %>
      </div>
      <div class="movie-contents">
        <iframe width="560" height="315" src="<%= @movies[0]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="movie-description">
        </div>
      </div>
      <div class="movie-title">
      <%= "Lv.2：" %>
      <%= @movies[1]["title"] %>
    </div>
      <div class="movie-contents">
        <iframe width="560" height="315" src="<%= @movies[1]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="movie-description">
        </div>
      </div>
      <div class="movie-title">
      <%= "Lv.3：" %>
      <%= @movies[2]["title"] %>
    </div>
      <div class="movie-contents">
        <iframe width="560" height="315" src="<%= @movies[2]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="movie-description">
        </div>
      </div>
      <div class="movie-title">
      <%= "Lv.4：" %>
      <%= @movies[3]["title"] %>
    </div>
      <div class="movie-contents">
        <iframe width="560" height="315" src="<%= @movies[3]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="movie-description">
        </div>
      </div>
      <div class="movie-title">
      <%= "Lv.5：" %>
      <%= @movies[4]["title"] %>
    </div>
      <div class="movie-contents">
        <iframe width="560" height="315" src="<%= @movies[4]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="movie-description">
        </div>
      </div>
      <div class="movie-title">
      <%= "Lv.6：" %>
      <%= @movies[5]["title"] %>
    </div>
      <div class="movie-contents">
        <iframe width="560" height="315" src="<%= @movies[5]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="movie-description">
        </div>
      </div>
      <div class="movie-title">
      <%= "Lv.7：" %>
      <%= @movies[6]["title"] %>
    </div>
      <div class="movie-contents">
        <iframe width="560" height="315" src="<%= @movies[6]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="movie-description">
        </div>
      </div>
      <div class="movie-title">
      <%= "Lv.8：" %>
      <%= @movies[7]["title"] %>
    </div>
      <div class="movie-contents">
        <iframe width="560" height="315" src="<%= @movies[7]["url"] %>"frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="movie-description">
        </div>
      </div>
      <div class="movie-title">
      <%= "Lv.9：" %>
      <%= @movies[8]["title"] %>
    </div>
      <div class="movie-contents">
        <iframe width="560" height="315" src="<%= @movies[8]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="movie-description">
        </div>
      </div>
      <div class="movie-title">
      <%= "Lv.10：" %>
      <%= @movies[9]["title"] %>
    </div>
      <div class="movie-contents">
        <iframe width="560" height="315" src="<%= @movies[9]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="movie-description">
        </div>
      </div>
      <div class="movie-title">
      <%= "Lv.11：" %>
      <%= @movies[10]["title"] %>
      </div>
        <div class="movie-contents">
        <iframe width="560" height="315" src="<%= @movies[10]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="movie-description">
        </div>
        </div>
        <div class="movie-title">
        <%= "Lv.12：" %>
        <%= @movies[11]["title"] %>
        </div>
        <div class="movie-contents">
        <iframe width="560" height="315" src="<%= @movies[11]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="movie-description">
        </div>
        </div>
        <div class="movie-title">
        <%= "Lv.13：" %>
        <%= @movies[12]["title"] %>
        </div>
        <div class="movie-contents">
        <iframe width="560" height="315" src="<%= @movies[12]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="movie-description">
        </div>
        </div>
        <div class="movie-title">
        <%= "Lv.14：" %>
        <%= @movies[13]["title"] %>
        </div>
        <div class="movie-contents">
        <iframe width="560" height="315" src="<%= @movies[13]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="movie-description">
        </div>
        </div>
        <div class="movie-title">
        <%= "Lv.15：" %>
        <%= @movies[14]["title"] %>
        </div>
        <div class="movie-contents">
        <iframe width="560" height="315" src="<%= @movies[14]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="movie-description">
        </div>
        </div>
        <div class="movie-title">
        <%= "Lv.16：" %>
        <%= @movies[15]["title"] %>
        </div>
        <div class="movie-contents">
        <iframe width="560" height="315" src="<%= @movies[15]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="movie-description">
        </div>
        </div>
        <div class="movie-title">
        <%= "Lv.17：" %>
        <%= @movies[16]["title"] %>
        </div>
        <div class="movie-contents">
        <iframe width="560" height="315" src="<%= @movies[16]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="movie-description">
        </div>
        </div>
        <div class="movie-title">
        <%= "Lv.18：" %>
        <%= @movies[17]["title"] %>
        </div>
        <div class="movie-contents">
        <iframe width="560" height="315" src="<%= @movies[17]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="movie-description">
        </div>
        </div>
        <div class="movie-title">
        <%= "Lv.19：" %>
        <%= @movies[18]["title"] %>
        </div>
        <div class="movie-contents">
        <iframe width="560" height="315" src="<%= @movies[18]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="movie-description">
        </div>
        </div>
        <div class="movie-title">
        <%= "Lv.20：" %>
        <%= @movies[19]["title"] %>
        </div>
        <div class="movie-contents">
        <iframe width="560" height="315" src="<%= @movies[19]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="movie-description">
        </div>
        </div>
            <div class="movie-title">
            <%= "Lv.21：" %>
            <%= @movies[20]["title"] %>
            </div>
        <div class="movie-contents">
            <iframe width="560" height="315" src="<%= @movies[20]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="movie-description">
            </div>
        </div>
        <div class="movie-title">
        <%= "Lv.22：" %>
        <%= @movies[21]["title"] %>
    </div>
        <div class="movie-contents">
            <iframe width="560" height="315" src="<%= @movies[21]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="movie-description">
            </div>
        </div>
        <div class="movie-title">
        <%= "Lv.23：" %>
        <%= @movies[22]["title"] %>
    </div>
        <div class="movie-contents">
            <iframe width="560" height="315" src="<%= @movies[22]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="movie-description">
                <a target="_blank" href="https://github.com/yoshitokamizato/debug_sample.git">ソースコード</a>
            </div>
        </div>
        <div class="movie-title">
        <%= "Lv.24：" %>
        <%= @movies[23]["title"] %>
    </div>
        <div class="movie-contents">
            <iframe width="560" height="315" src="<%= @movies[23]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="movie-description">
            </div>
        </div>
        <div class="movie-title">
        <%= "Lv.25：" %>
        <%= @movies[24]["title"] %>
    </div>
        <div class="movie-contents">
            <iframe width="560" height="315" src="<%= @movies[24]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="movie-description">
            </div>
        </div>
        <div class="movie-title">
        <%= "Lv.26：" %>
        <%= @movies[25]["title"] %>
    </div>
        <div class="movie-contents">
            <iframe width="560" height="315" src="<%= @movies[25]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="movie-description">
            </div>
        </div>
        <div class="movie-title">
        <%= "Lv.27：" %>
        <%= @movies[26]["title"] %>
        </div>
        <div class="movie-contents">
            <iframe width="560" height="315" src="<%= @movies[26]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="movie-description">
            </div>
        </div>
        <div class="movie-title">
        <%= "Lv.28：" %>
        <%= @movies[27]["title"] %>
        </div>
        <div class="movie-contents">
            <iframe width="560" height="315" src="<%= @movies[27]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="movie-description">
            <a target="_blank" href="https://github.com/yoshitokamizato/ransack_sample_0130">ソースコード</a>
            </div>
        </div>
        <div class="movie-title">
        <%= "Lv.29：" %>
        <%= @movies[28]["title"] %>
        </div>
        <div class="movie-contents">
            <iframe width="560" height="315" src="<%= @movies[28]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="movie-description">
            <a target="_blank" href="https://github.com/yoshitokamizato/rspec_sample_0130">ソースコード</a>
            </div>
        </div>
        <div class="movie-title">
        <%= "Lv.30：" %>
        <%= @movies[29]["title"] %>
        </div>
        <div class="movie-contents">
            <iframe width="560" height="315" src="<%= @movies[29]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="movie-description">
            <a target="_blank" href="https://github.com/yoshitokamizato/markdown_sample_0130">ソースコード</a>
            </div>
        </div>
            <div class="movie-title">
            <%= "Lv.31：" %>
            <%= @movies[30]["title"] %>
                </div>
            <div class="movie-contents">
                <iframe width="560" height="315" src="<%= @movies[30]["url"] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="movie-description">
                <a target="_blank" href="https://github.com/yoshitokamizato/chart_sample">ソースコード</a>
            </div>
        </div>
    </div>
</div>
